// Fonts
// Variables
$base-font: 'Space Mono', monospace;
$secondary-font: 'Koulen', sans-serif;

$light: #FFFFFF;
$dark: #000000;
$grey: rgba($dark, 0.1);

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

// General Configs
body {
    font-family: $base-font;
    background-color: $light;
    color: $dark;
}

.block {
    padding: 60px 0;
}

.wrapper {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}